.superhero {
    max-width: 400px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
}

h3,
p {
    text-align: center;
}

img {
    max-width: 100%;
}